<div class="container">
    <div class="row m-4">
        <table class="table table-striped table-bordered">
            <thead class="table-bordered text-center table-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Show</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let blog of blogList;index as i">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">{{blog.name}}</td>
                <td>{{blog.email}}</td>
                <td class="text-center"><a class="btn btn-outline-primary" [routerLink]="['/list',blog.id]">Show</a></td>
                <td class="text-center"><a class="btn btn-outline-info" [routerLink]="['/list/edit',blog.id]">Edit</a></td>
                <td class="text-center"><a class="btn btn-outline-danger" (click)="delete(blog.id)">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

